* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: dodgerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    max-width: 600px;
    text-align: center;
}

.descricao{
  font-size: 20px;
}

.btn {
    font-weight: bold;
    background-color: #ccc;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    color: black;
    box-shadow: 1;
    margin-bottom: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.resultado{
  text-align: left;
  line-height: 30px;
  color: #ccc;
}


.nome{
  color: aliceblue;
  font-size: 30px;
  font-weight: bolder;
}
.foto{
  max-height: 500px;
  max-width: 500px;
  width: 100%;
  padding: 20px;
}
.click{
  margin-top: 20px;
}